netgear_username: user
netgear_password: pass

nest_client_id: xxxxxxxxxxxxxxxxxxx
nest_client_secret: xxxxxxxxxxxxxxxxxxxxx

darksky_api_key: xxxxxxxxxxxxxxxxxxx

wunderground_api_key: xxxxxxxxxxxxxxxxxxxx

google_drive_time_api_key: xxxxxxxxxxxxxxxxxxxxxx
